.App {
  text-align: center;
  background-color: #F6F5F1;
}

.col-center {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #F6F5F1 !important;
  width: 100vw;
  height: 100vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  color: #A88D6F;
}

.text-center {
  text-align: center;
}

.title {
  padding-top: 10%;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 150px;
  color: #A88D6F;
  margin-bottom: 5%;
}

.sub-title {
  margin: 0px;
  color: #A88D6F;
  padding-top: 17%;
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
  font-family: fantasy;
  position: absolute;
  left: 45%;
}

.ask-name {
  font-size: 25px;
  color: #212020;
  font-weight: bold;
  margin-bottom: 3%;
}

.gold-text {
  color: #A88D6F !important;
}

.input-text {
  background-color: transparent;
  border-color: #A88D6F;
  text-align: center;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 3px;
  margin-bottom: 3%;
}

.answer {
  font-size: 150%;
}

.btn-gold {
  background-color: #A88D6F !important;
  border-color: #A88D6F !important;
  border-width: 2px !important;
  color: #F6F5F1 !important;
  font-weight: bold !important;
  transition: 2ms;
}

.btn-gold:hover {
  background-color: #F6F5F1 !important;
  color: #A88D6F !important;
}

.img-question {
  filter: brightness(50%);
  margin-top: 5%;
  margin-bottom: 3%;
  border: 5px solid #A88D6F;
  border-top: 0;
  border-bottom: 0;
  padding: 15px;
  border-radius: 10px;
  width: 45%;
  max-height: 250px;
}

.next-container {
  position: absolute;
  top: 37%
}

.next-arrow {
  color: #A88D6F;
  font-size: 75px;
  cursor: pointer;
  transition-duration: .2s;
}

.next-arrow-container {
  display: flex;
  justify-content: center;
}

.next-text {
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  transition-duration: .2s;
}

.next-arrow:hover, .next-text:hover {
  color: #F6F5F1 !important;
}

.question {
  font-size: 250%;
  font-weight: bold;
}

.choice {
  font-size: 200%;
  border-width: 3px !important;
  border-color: #A88D6F !important;
  border-style: solid;
  cursor: pointer;
  background-color: #A88D6F;
  color: #F6F5F1;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0px;
  transition-duration: .2s;
}

.choice:hover {
  background-color: #F6F5F1;
  color: #A88D6F;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px;
}

.result {
  font-size: 200%;
  border-width: 3px !important;
  border-style: solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0px;
  transition-duration: .2s;
}

.correct {
  border-color: #4D9C2E !important;
  background-color: #4D9C2E;
  color: #F6F5F1;
}

.correct:hover {
  background-color: #F6F5F1;
  color: #4D9C2E;
}

.false {
  border-color: #CD4A4B !important;
  background-color: #CD4A4B;
  color: #F6F5F1;
}

.false:hover {
  background-color: #F6F5F1;
  color: #CD4A4B;
}

.choice-row {
  padding-left: 15%;
  padding-right: 15%;
}

.result-congrats {
  font-weight: bolder;
  font-size: 500%;
  margin-top: 8%;
}

.result-explanation {
  font-weight: bolder;
  font-size: 200%;
}

.result-score {
  font-weight: bolder;
  font-size: 700%;
  margin-bottom: 5%;
}

.back-home-btn {
  font-size: 150% !important;
}

.stat-title {
  font-size: 25px;
  color: #A88D6F;
  text-align: center;
}

.stat-container {
  position: absolute;
  left: 1%;
  top: 2%;
  color: #212020;
  font-size: 20px;
  min-width: 250px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background:
    linear-gradient(to right, #A88D6F 4px, transparent 4px) 0 0,
    linear-gradient(to right, #A88D6F 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #A88D6F 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #A88D6F 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #A88D6F 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #A88D6F 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #A88D6F 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #A88D6F 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.stat-text {
  font-weight: bold;
  margin: 0 !important;
}